<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%- title %></title>
  <link rel="stylesheet" href="/default.css">
  <link rel="stylesheet" href="/fonts.css">
  <% for(var i=0; i < css_files.length; i++) { %>
    <link rel="stylesheet" href="/<%- css_files[i] %>">
  <% } %>
</head>
<script defer src="/scripts/single_seller.js"></script>
<body>