<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%- title %></title>
  <link rel="stylesheet" href="/default.css">
  <link rel="stylesheet" href="/fonts.css">
  <% if(css_files.length > 0){ %>  
    <% for(var i=0; i < css_files.length; i++) { %>
      <link rel="stylesheet" href="/<%- css_files[i] %>">
    <% } %>
  <% } %>  
</head>
<% if(js_files.length > 0){ %>  
  <% for(var i=0; i < js_files.length; i++) { %>
    <script defer src="<%- js_files[i] %>"></script>
  <% } %>
<% } %>  
<body>