.archive {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 0.3fr));
  grid-gap: 1em;
  margin: 3%;
}

.article {
  padding: 1em;
  background: #181818;
  box-shadow:
    0 5px 10px #404040,
    0 20px 20px #282828;
  text-align: left;
}

.article ul li{
  margin: 0 0 3% 0;
}

.seller-introduction {
  margin-left: 10%;
}

button.purchaseProduct {
  margin-right: 5%;
  margin-bottom: 5%;
  background: #1d211e;
  text-decoration: none; 
  color: #e8d5d5; 
  font-weight: bold;
  cursor: pointer;
}