.archive {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 1em;
  margin: 10%;
}

.article {
  padding: 1em;
  background: #181818;
  box-shadow:
    0 5px 10px #404040,
    0 20px 20px #282828;
}