<%- include("./partials/head.ejs", {
  title: "Deno Crypto Payments",
  css_file: "get_started.css"
}) %>

<div class="hero">
  <div class="hero_heading text-center">
    <h1>Welcome to Deno Crypto Payments</h1>
    <h2>Sell your digital goodies and accept crypto instantly</h2>
  </div>
</div>
  
<%- include("./partials/foot.ejs") %>