<%- include("./partials/head.ejs", {
  title: "Deno Crypto Payments",
  css_file: "get_started.css"
}) %>

<div class="hero">
  <div class="hero_heading text-center">
    <h1>Welcome to Deno Crypto Payments</h1>
    <h2>Sell your digital goodies and accept crypto instantly</h2>

    <h3>Follow these steps to set up your own page:</h3>
    <ul>
      <%if (userID) { %>
        <li>
          1. 
          <a class="btn-auth btn-github" href="#">
            You are signed in as <%= userID %>. 
        </a></li>

        2. Upload your digital good (file) that you want to sell
        <form action="/upload" method="POST" enctype="multipart/form-data">
          <input type="file" name="fileName" multiple> <br>
          <input type="submit" value="Submit your file(s)">
        </form>
      <% } else { %>
        <li>
          1. 
          <a class="btn-auth btn-github" href="/login">
            Sign in with GitHub
        </a></li>
      <% } %>
    </ul>
  </div>
</div>
  
<%- include("./partials/foot.ejs") %>