<%- include("./partials/head.ejs", {
  title: "Deno Crypto Payments",
  css_files: [
    "get_started.css",
    "utilities/wtf_forms.css"
  ]
}) %>

<div class="hero">
  <div class="hero_heading text-center">
    <h1>Welcome to Deno Crypto Payments</h1>
    <h2>Sell your digital goodies and accept crypto instantly</h2>

    <h3>Follow these steps to set up your own page:</h3>
    <ul>
      <%if (userID) { %>
        <li>
          1. 
          <a class="btn-auth btn-github" href="#">
            You are signed in as <%= userID %>. 
        </a></li>
        <!-- paste second step here -->
        <li>
          2. Upload your digital good (file) that you want to sell
          <form method="POST" enctype="multipart/form-data" action="/upload">
            <div>Title: <input type="text" name="title" value="title"></div> <br>
            <div>Description: <input type="text" name="title" value="description"></div> <br>
            <label class="file">
              <input type="file" id="file" aria-label="File browser example">
              <span class="file-custom"></span>
            </label>
            <input type="submit" value="Submit your file(s)">
          </form>
        </li>
      <% } else { %>
        <li>
          1. 
          <a class="btn-auth btn-github" href="/login">
            Sign in with GitHub
        </a></li>
      <% } %>
    </ul>
  </div>
</div>
  
<%- include("./partials/foot.ejs") %>