
  <form action="/login_test" method="post" enctype="multipart/form-data">
    Username: <input type="text" name="username" value="hi">
    Password: <input type="text" name="password" value="hi">
    <input type="submit">
  </form>
  <a href="/register">Register</a>
  <a href="/">Index</a>