<%- include("../partials/head.ejs", {
  title: "Deno Crypto Payments",
  css_files: [
    "pages/single_seller.css"
  ]
}) %>

<div class="archive">
  <article class="article">
    Title <br>
    Description Description Description Description Description Description Description Description
  </article>
  <article class="article">
    Title <br>
    Description
  </article>
  <article class="article">
    Title <br>
    Description
  </article>
  <article class="article">
    Title <br>
    Description
  </article>
  <article class="article">
    Title <br>
    Description
  </article>
  <article class="article">
    Title <br>
    Description
  </article>
  <article class="article">
    Title <br>
    Description
  </article>
  <article class="article">
    Title <br>
    Description
  </article>
  <article class="article">
    Title <br>
    Description
  </article>
  <article class="article">
    Title <br>
    Description
  </article>
  <article class="article">
    Title <br>
    Description
  </article>
  <article class="article">
    Title <br>
    Description
  </article>
  <article class="article">
    Title <br>
    Description
  </article>
  <article class="article">
    Title <br>
    Description
  </article>
  <article class="article">
    Title <br>
    Description
  </article>
  <article class="article">
    Title <br>
    Description
  </article>
  <article class="article">
    Title <br>
    Description
  </article>
  <article class="article">
    Title <br>
    Description
  </article>
  <article class="article">
    Title <br>
    Description
  </article>
  <article class="article">
    Title <br>
    Description
  </article>
</div>


<%- include("../partials/foot.ejs") %>